<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lockWhenUnplugged</key>
	<true/>
	<key>hotKeyProductID</key>
	<string>0x0010</string>
	<key>hotKeyVendorID</key>
	<string>0x1050</string>
	<key>switchOffDelay</key>
	<dict>
		<key>interval</key>
		<string>10.0</string>
		<key>enabled</key>
		<false/>
	</dict>
	<key>startAtLogin</key>
	<false/>
</dict>
</plist>
