<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>yubiswitch.helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>593AE4501B13711E00FCA848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593AE45C1B1371B700FCA848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5970C8D218B3A48100CDE1BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59E5CF0A17EC2A9000898135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59E5CF2B17EC2A9000898135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59EF40711B13DFB70000BB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
